.header {
  padding: 30px;
  background-color: $color_main;
  color: $color;
  &-logo {
    cursor: pointer;
    // background: linear-gradient(45deg, $color-theme, #f0f0f0);
    // background-size: 200% 200%;
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent;
    // // text-fill-color: transparent;
    // animation: logo 5s linear infinite;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-list {
    display: flex;
    column-gap: 40px;
    font-size: 24px;

    &__item {
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 1px;

        background-color: rgb(249, 160, 18);
        transition: 1s;
      }
      &:hover::before {
        width: 100%;
      }
      &--active {
        color: rgb(249, 160, 18);
      }
    }
  }
}
@keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
